@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@ViewData["Email"]</p>

<address>
    Weslley de Matos Pinheiro<br />
    Parambu, 133 07231-310<br />
    <abbr title="Phone">Phone:</abbr>
    (11)973444342
</address>

<address>
    <strong>Contact:</strong> <a href="weslley:weslleymatos14@gmail.com">weslleymatos14@gmail.com</a><br />
    <strong>Contact:</strong> <a href="weslley:weslleymatos250@outlook.com">weslleymatos250@outlook.com</a>
</address>
